﻿@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

*:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background: #DDD;
    font-size: 16px;
    color: #222;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#login-box {
    position: relative;
    margin: 5% auto;
    width: 600px;
    height: 550px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.top {
    position: absolute;
    top: 0;
    box-sizing: border-box;
    width: 600px;
    height: 100px;
    align-items: stretch;
}

h1 {
    margin-top: 35px;
    text-align: center;
    font-size: 50px;
    font-weight: 300;
}

.center {
    position: absolute;
    box-sizing: border-box;
    width: 600px;
    height: 300px;
    border-radius: 0 2px 2px 0;
}

.left {
    position: absolute;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 350px;
}

.right {
    position: absolute;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 350px;
}

.bottom {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 600px;
    height: 100px;
    border-radius: 0 2px 2px 0;
}

input[type="text"],
input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 25px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

    input[type="text"]:focus,
    input[type="password"]:focus {
        border-bottom: 2px solid #16a085;
        color: #16a085;
        transition: 0.2s ease;
    }

input[type="submit"] {
    margin-left: 220px;
    margin-top: 30px;
    width: 120px;
    height: 50px;
    background: #16a085;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
    display: marker;
}

    input[type="submit"]:hover,
    input[type="submit"]:focus {
        opacity: 0.8;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        transition: 0.1s ease;
    }

    input[type="submit"]:active {
        opacity: 1;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
        transition: 0.1s ease;
    }


