﻿<%@ Page Title="Contact" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Contact.aspx.cs" Inherits="QuanLyRapChieuPhim.Contact" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h1 style="color:white; font-family:'Segoe UI';font-size:xx-large; text-align:center"><strong>Team Migos</strong></h1>
    <p style="color:white; font-family:'Segoe UI';font-size:x-large">Thành viên:<br>1512036 - Đỗ Huy Gia Cát<br>1512176 - Mạc Minh Hoàng<br />1512194 - Đinh Ngọc Quang Huy
        <br>1512200 - Nguyễn Lê Huy<br>1512442 - Vũ Minh Quân<br />
        Facebook <a href="https://www.facebook.com/groups/126579424742289/">
                <img src ="./Images/facebook-icon.png" width="64" height="64" >
        </a>
        <br>Gmail<img src ="./Images/Gmail-icon.png" width="56" height="56" /> : nhom16nmcnpmk15@gmail.com
    </p>
</asp:Content>
