﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="DatVe.aspx.cs" Inherits="QuanLyRapChieuPhim.DatVe" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">

    <div class="row">
        <div class="col-md-5">
            <p></p>
            <a href="https://www.youtube.com/watch?v=xjDjIWPwcPU">
                <img src ="./Images/black-panther-banner.jpg" width="400" height="222" >
            </a>
        </div>
        <div class="col-md-4">
            <h1 style="text-align:center;; color:orange">Black Panther</h1>
            <h3 style="align-items:center; color:white">Đạo diễn: xyz</h3>
            <h3 style="align-items:center; color:white">Diễn viên: A, B, C, ...</h3>
            <h3 style="align-items:center; color:white">Chỗ ngồi: G1</h3>
            <div class="row">
                <asp:Button ID="BT_Confirm" Text="Đặt Vé" OnClick="BT_Confirm_Click" runat="server" Width="100" Height="50"/>
            </div>
        </div>
    </div>

</asp:Content>
