﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="GiaVe.aspx.cs" Inherits="QuanLyRapChieuPhim.GiaVe" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <p style="text-align:center">
        <img src ="./Images/ticket-price.jpg" width="716" height="498" >
    </p>
</asp:Content>
